# Python packages requirements

# Use "pip install -r requirements.txt" in top-level to install all requirements.

# We will probably need to use google-cloud-bigquery library for our data.
pip install google-cloud-bigquery

# Example of importing:
    # from google.cloud import bigquery
    # from google.oauth2 import service_account
    # key_path = "path/to/your/service-account-file.json"
    # credentials = service_account.Credentials.from_service_account_file(
    #     key_path,
    #     scopes=["https://www.googleapis.com/auth/cloud-platform"],
    # )
    # client = bigquery.Client(credentials=credentials, project=credentials.project_id)
