# Python packages requirements

# Use "pip freeze > requirements.txt" to  list all packages necessary for your project. 

# Use "pip install -r requirements.txt" in top-level to install all requirements.

# We will probably need to use google-cloud-bigquery library for our data.
# pip install google-cloud-bigquery

# Example of importing:
    # from google.cloud import bigquery
    # from google.oauth2 import service_account
    # key_path = "path/to/your/service-account-file.json"
    # credentials = service_account.Credentials.from_service_account_file(
    #     key_path,
    #     scopes=["https://www.googleapis.com/auth/cloud-platform"],
    # )
    # client = bigquery.Client(credentials=credentials, project=credentials.project_id)

cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-bigquery==3.21.0
google-cloud-core==2.4.1
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpcio==1.63.0
grpcio-status==1.62.2
idna==3.7
packaging==24.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
python-dateutil==2.9.0.post0
requests==2.31.0
rsa==4.9
six==1.16.0
urllib3==2.2.1